<form action = "password">
  <input type = "text" name = "user" placeholder="Enter user ID"/></br>
  <input type = "password" name = "password" placeholder="Enter password" /></br>
  <input type= "submit" value = "Submit your info" />
</form>
<%= flash[:error] %></br>
<%= flash[:error1] %>
